.calculation-page {
  padding: 20px;
  font-family: Arial, sans-serif;
  background: #f1f1f1;
  border-radius: 10px;
  justify-self: center;
  width: 25%;
  margin: 10px;
  color: black;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.list-items {
  list-style-type: none;
  padding: 0;
  margin: 0;
  background-color: #f1f1f1;
  max-height: 75vh;
  overflow-y: auto;
  padding-right: 5px;
}

.list-items::-webkit-scrollbar {
  width: 0;
}

.list-items {
  scrollbar-width: none;
}

.list-items li:nth-child(even) {
  background-color: #e0d5d5;
  text-align: center;
  border-radius: 5px;
}

.list-items li:nth-child(odd) {
  background-color: #d1c9c9;
  text-align: center;
  border-radius: 5px;
}
