:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 500;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  /* border: 1px solid white; */
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #242424;

  /* border: 1px solid rgb(236, 23, 23); */
}

/* #root {
  /* max-width: 1280px; *

  /* border: 1px solid rgb(236, 20, 243); *
}

